*.a
*.o
*.dll
*.lib
*.pdb
*.exp
*.dylib
*.so
*.d
*.js
*.bc
**/*.elf
**/*.velf
**/*.bin
**/*.sfo
**/*.vpk

# ==========================
# Visual Studio files
# ==========================
Debug/
Release/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters